#first_class {
  text-align: center;
}

#first_class .card {
  width: 600px;
  margin: 0 auto 1em;
  position: relative;
}

body.floating_dashboard #dashboard {
  position: -webkit-sticky;
  position: sticky;
  top: calc(104px + 1em);
  z-index: 4;
}

body:not(.columns) .dashboard {
  max-width: 100%;
}

.floating_dashboard .dashboard {
  box-shadow: 0 7px 16px rgba(0, 0, 0, .35);
}

.dashboard {
  max-width: calc(100% - 3em);
  color: rgba(255, 255, 255, .8);
  line-height: 1;
  font-size: .9em;
  padding-bottom: 3.5em;
  background: var(--color-700);
}

.dashboard #실적 {
  color: rgba(255, 255, 255, 1);
  margin-top: 0;
  margin-bottom: 0.8em;
  font-size: 1.5em;
}

.dashboard .value {
  font-size: 2.25em;
  line-height: 1.25;
  color: rgba(255, 255, 255, 1);
}

.dashboard .item_wrap {
  display: flex;
}

.dashboard .item {
  flex: 1 1 auto;
}

.dashboard .sub_info {
  font-size: .75em;
}

.dashboard .subtitle {
  position: relative;
}

.dashboard .pin {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.dashboard .pin .material-icons {
  color: #eee;
  fill: #eee;
}

.dashboard .rotate i {
  font-size: 48px;
}

.dashboard .progress {
  position: absolute;
  width: 0;
  bottom: .5em;
  left: .5em;
  background: rgba(255, 255, 255, .75);
  height: 3px;
  transition: .30s;
  transition-timing-function: linear;
}

@media (max-width:1920px) {
  #item_list_count {
    display: none !important;
  }
}

@media (max-width:1600px) {
  #item_failed_count {
    display: none !important;
  }
}

@media handheld, only screen and (max-device-width:480px), only screen and (max-device-width:320px), screen and (max-width:600px) {
  #item_acheieved_count {
    display: none !important;
  }

  .dashbaord.wrap_dashboard.floating {
    width: calc(100% - 2em) !important;
  }
}
