<<<<<<< current
.card_wrap.wrap_dashboard {
  z-index: 4 !important;
}

.card_wrap.wrap_dashboard.floating {
  position: fixed;
  top: 119px;
  margin-left: -50%;
}

.card_wrap.wrap_dashboard.floating .dashboard {
  box-shadow: 0 7px 16px rgba(0, 0, 0, .35);
}

.card_wrap dl.dashboard {
  color: rgba(255, 255, 255, .98);
  line-height: 1;
  font-size: .9em;
  padding-bottom: 3.5em !important;
  background: #aaa;
  transition: .25s;
}

.dashboard #실적 {
  color: rgba(255, 255, 255, .98);
  margin-top: 0;
  margin-bottom: 0.8em;
  font-size: 1.5em;
}

.dashboard .value {
  font-size: 2.25em;
  line-height: 1.25;
}

.dashboard .item_wrap {
  display: flex;
}

.dashboard .item {
  flex: 1 1 auto;
}

.dashboard .sub_info {
  font-size: .75em;
}

.dashboard .subtitle {
  position: relative;
}

#first_class .card_wrap:last-child {
  /* max-width: calc(100% - 1em) !important; */
}

.dashboard .pin {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.dashboard .rotate i {
  font-size: 48px;
}

.dashboard .progress {
  position: absolute;
  width: 0;
  bottom: .5em;
  left: .5em;
  background: rgba(255, 255, 255, .75);
  height: 3px;
  /* transition: .15s; */
  transition-timing-function: linear;
}

@media (max-width:1920px) {
  #item_list_count {
    display: none !important;
  }
}

@media (max-width:1600px) {
  #item_failed_count {
    display: none !important;
  }
}

@media handheld, only screen and (max-device-width:480px), only screen and (max-device-width:320px), screen and (max-width:600px) {
  #item_acheieved_count {
    display: none !important;
  }
  .card_wrap.wrap_dashboard.floating {
    width: calc(100% - 2em)!important;
  }
}
=======
.card_wrap dl.dashboard {
  color: rgba(255, 255, 255, .98);
  line-height: 1;
  font-size: .9em;
  padding-bottom: 3.5em !important;
  max-width: 2580px;
  background: #aaa;
  transition: .25s;
}

.dashboard h2 {
  color: rgba(255, 255, 255, .98);
  margin-top: 0;
}

.dashboard .value {
  font-size: 2.25em;
  line-height: 1.25;
}

.dashboard .item_wrap {
  display: flex;
}

.dashboard .item {
  flex: 1 1 auto;
}

.dashboard .sub_info {
  font-size: .75em;
}

.dashboard .subtitle {
  position: relative;
}

#first_class .card_wrap:last-child {
  /* max-width: calc(100% - 1em) !important; */
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  -ms-animation: rotate 2s linear infinite;
  -o-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

.dashboard .rotate {
  vertical-align: initial;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
}

.dashboard .rotate i {
  font-size: 48px;
}

.dashboard .progress {
  position: absolute;
  width: 0;
  bottom: .5em;
  left: .5em;
  background: rgba(255, 255, 255, .75);
  height: 3px;
  transition: .25s;
  transition-timing-function: linear;
}

@media (max-width:1920px) {
  #item_list_count {
    display: none !important;
  }
}

@media (max-width:1600px) {
  #item_failed_count {
    display: none !important;
  }
}

@media handheld, only screen and (max-device-width:480px), only screen and (max-device-width:320px), screen and (max-width:600px) {
  #item_acheieved_count {
    display: none !important;
  }
}
>>>>>>> before discard
