@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/*@import url(iconfont/material-icons.css);*/
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(style_card.css);
@import url(style_dashboard.css);

::selection { background: rgba(0, 0, 0, 0); }

body {
    max-width: 600px;
    margin: 104px auto auto;
    padding: 1em 0 1em 256px;
    background: #e5e5e5;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgba(0, 0, 0, .87);
    cursor: default;
    overflow-x: hidden
}

body.columns {
    max-width: 100%;
    padding-left: calc(1em + 256px);
}

body.fold {
    padding: 1em 68px 1em calc(1em + 136px);
}

header {
    position: fixed;
    color: rgba(255, 255, 255, .98);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .2);
    width: 100%;
    height: 48px;
    left: 0;
    top: 0;
    z-index: 5;
    background: #fff;
    text-align: center
}

#sub_header {
    width: calc(100% - 256px);
    position: fixed;
    top: 48px;
    z-index: 4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    left: 0;
    padding-left: 256px;
    -webkit-transition: .3s;
    transition: .3s;
    background: #aaa
}

#sub_header.fold {
    width: calc(100% - 68px);
    padding-left: 68px
}

#sub_header>#line1 {
    color: rgba(255, 255, 255, .75)
}

#column_bt:hover,
#sub_header .filter_bt:hover {
    color: rgba(255, 255, 255, .98)
}

#column_bt,
#sub_header .filter_bt {
    position: relative;
    font-size: 16px;
    display: inline-block;
    padding: 16px 24px;
    cursor: pointer;
    transition: .25s;
}

#sub_header .filter_bt .ink_bar {
    position: absolute;
    background: #fff;
    height: 3px;
    bottom: 0;
    left: 50%;
    width: 0;
    margin: auto
}

#sub_header .filter_bt.on .ink_bar {
    -webkit-transition: .25s;
    transition: .25s;
    left: 0;
    width: 100%
}

#sub_header .filter_bt.on {
    color: rgba(255, 255, 255, .98)
}

#column_bt {
    float: right;
}

#column_bt i {
    margin: 0;
}

.disabled {
    color: rgba(255, 255, 255, 0.3);
}

.hide {
    display: none!important;
    margin: 0!important;
}

section.sub {
    width: 100%;
    text-align: center
}

a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .25s;
    padding: .5em .75em;
    margin: -.75em
}

a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    background: #fff;
    position: relative;
}

li a        { padding: 0; margin: 0; }
li a:hover  { position: inherit; box-shadow: none; background: rgba(0, 0, 0, .05); }

#nav_on {
    padding: .5em;
    display: none;
    border-radius: 50%;
    width: 1em;
    top: 0;
    position: absolute
}

#nav_bg, #setting_bg {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    transition: .3s;
    width: 100%;
    height: 100%;
    display: block;
    visibility: hidden;
    background: rgba(0, 0, 0, .25);
    opacity: 0;
    filter: alpha(opacity=0)
}
#setting_bg {background: rgba(0, 0, 0, 0);}
#setting_bg.on {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100)
}
nav {
    /*display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;*/
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 256px;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .25);
    padding-top: 48px;
    height: calc(100% - 48px);
    overflow-y: auto;
    overflow-x: hidden;
    transition: .3s
}

nav #nav {
    width: 100%;
    height: calc(100% - 46px);
    overflow-y: auto;
    overflow-x: hidden;
    transition: .3s
}

nav a {
    margin: -.5em 0;
    font-size: 16px;
    display: block;
    /*text-overflow: ellipsis;*/
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, .54);
    position:relative;
}

nav a:hover {
    background: rgba(158, 158, 158, .2);
    box-shadow: none;
    z-index: 1
}

nav h2 a {
    color: rgba(0, 0, 0, .38)
}

nav h2:first-of-type {
    margin-top: 1em
}

nav h3 {
    margin: .25em 0;
    padding: 0
}

nav h4 {
    margin: .25em 0
}

nav h2 a,
nav h3 a {
    padding-left: 22px
}

nav h4 a {
    padding-left: 3em
}

nav #nav_header {
    display: flex;justify-content: space-between;
    background: #fafafa;
    -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.12) inset!important;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.12) inset!important;
    position: relative;
    padding: 10px 0;
    color: rgba(0, 0, 0, .54);white-space: nowrap;
        transition: .3s;
}
nav.fold #nav_header {  padding: 10px 0 46px; }
#to_github {
    cursor: pointer;
    transition: .3s;
    width:100%;
    padding: 6px 8px 6px 22px;
    color: rgba(0,0,0,0.54);
    display: inline-block;
    overflow: hidden;text-overflow: ellipsis;white-space: nowrap;    width: calc(100% - 82px);

}
#to_github i {fill: rgba(0, 0, 0, .54);}
#to_github:hover{background: rgba(158, 158, 158, .2); }

nav.fold #to_github{width:100%; text-overflow: clip;   }

@keyframes setting_bt_unfold {
    from {opacity: 0;}
    to {opacity: 1;}
}
#setting_bt {
border-left: 1px solid rgba(0,0,0,0.1);
    /*width: 20px;*/
    height: 20px;
    width: 48px;
    padding: 8px 0;
    /*margin: 0 4px;*/
    display: inline-block;
    transition: 0s;
    text-align: center;
    cursor: pointer;
    animation-name: setting_bt_unfold;
    animation-duration: .3s;
}
#setting_bt i {transition: .3s; position: absolute; font-size: 1.25em!important;
    right: 0;
    margin-right: 12px;}
#setting_bt:hover i:not(.setting_arrow) {
    transform: rotate(-30deg);
    right: 8px;
}
#setting_bt i.setting_arrow {
    visibility: hidden;
    opacity: 0;
}
#setting_bt:hover i.setting_arrow {
    visibility: visible;
    opacity: 1;
    right: -8px;
}
nav.fold #nav_header {
    /*display: block;*/
}
nav #nav_header span {opacity: 1; transition: .3s;}
nav.fold #nav_header span {
    opacity: 0;
}
@keyframes setting_bt_fold {
    0% {opacity: 0; margin-top: -28px;}
    25% {opacity: 0; margin-top: -28px;}
    100% {opacity: 1; margin-top: 0;}
}
nav.fold #setting_bt {
    width: 68px;
    top: 46px;
    position: absolute;
    left: 0;
    animation-name: setting_bt_fold;
    animation-duration: .3s;
}
nav.fold #setting_bt i {
    right: 14px;
}
nav.fold #setting_bt:hover i:not(.setting_arrow) {
    right: 22px;
}
nav.fold #setting_bt:hover i.setting_arrow {
    right: 4px;
}
nav.fold #setting_bt:hover {
    background: rgba(158, 158, 158, .2);
}



/* ------------------------------------------------------------------- */
/* ***** nav ***** */
/* ------------------------------------------------------------------- */

#setting {
    background: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12)!important;
    z-index: 5;
    max-width:calc(450px - 2em);
    margin: auto;
    transition: .25s opacity!important;
    opacity: 1;
    visibility: visible;
    position: fixed;
    padding: 1em 0 .5em!important;
}
#setting:not(.on){
    /*height: 0;*/
    display: block!important;
    opacity: 0;
    visibility: hidden;
}
#setting .header    { display: none; }
#setting .setting_item { cursor:pointer; padding: .5em 1em; transition: .25s; }
#setting .setting_item.disabled     { cursor: default; }
#setting .setting_item.disabled > * { color: rgba(0, 0, 0, .5)!important; }
#setting .setting_item:hover { background: rgba(158, 158, 158, .2); }
#setting .setting_item.disabled:hover { background: none; }
#setting .setting_title { color: rgba(0, 0, 0, .75); padding: 0 1em; }
#setting .setting_title { padding: 1em 1em 0; }
#setting .setting_title:nth-of-type(2) { padding: 0em 1em; }

nav #nav_footer {
    cursor: pointer;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 44px;
    padding: 0;
    margin: 0;
    width: inherit;
    left: 0;
    background: #fafafa;
    border: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
    border-top: 1px solid rgba(0, 0, 0, .1)
}
nav #nav_footer:hover{background-color: rgba(158,158,158,0.2);}
nav #nav_footer i {
    margin: 10px 22px;
    float: right;
    transition: .3s
}

nav.fold #nav_footer i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

nav.fold {
    width: 68px;
}

nav.fold #nav::-webkit-scrollbar {
    display: none
}

nav #nav a > * {
    transition: .3s;
}

nav.fold #nav a span {
    color: transparent;
}

nav #nav h2,
nav #nav h3 {
    transition: .3s;
}

nav #nav h2 {
    height: 40px;
    margin: 16px 0 0;
    position: relative
}

nav.fold #nav h2 {
    margin: 16px 0 14px;
    height: 3px
}
nav.fold #nav h2:first-of-type {
    margin: 16px 0 6px;
}
nav #nav h2:not(:first-of-type):before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%
}

nav.fold #nav h2:not(:first-of-type):before {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .12) inset
}

nav.fold #nav h2 a {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 0
}


h2,
h3 {
    color: rgba(0, 0, 0, .54)
}

h1 {
    text-transform: uppercase;
    font-size: 22px;
    margin: 8px 0
}

h1 .percentage:before {
    content: "달성률: "
}

.percentage {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: .25s;
    transition: .25s;
    position: absolute;
    margin-left: .5em
}
nav .percentage {
    margin-right: 1em;
    right:0;
}

h1:hover .percentage, h2:hover .percentage, h3:hover .percentage {
    opacity: .75;
}

h3 .material-icons {
    vertical-align: bottom;
    font-size: 1.25em!important;
    margin-right: 1em
}

h4 {
    margin: 2em 0 0
}

h4:first-of-type {
    margin-top: .5em
}

#img_wrap,
#movie_wrap {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    text-align: center
}

#movie_wrap>iframe {
    width: 90%;
    position: relative
}

.shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    border-radius: 3px
}

img {
    width: 100%;
    cursor: pointer;
    margin-bottom: -5px
}

#img_wrap > img {   /* 클릭했을 때 크게 보이는 것 */
    width: 90%;
    position: relative
}

.material-icons {
    vertical-align: text-bottom;
    margin-right: .5em;
}

a:not(nav a)>.material-icons {
    margin: 0;
}

input {
    display: none;
}

.copyright {
    text-align: center;
    color: rgba(0, 0, 0, .54);
    /*font-size: .8em;*/
    padding:1em;
}
.copyright a{color: inherit!important; font-weight: inherit;}

/* ------------------------------------------------------------------- */
/* ***** tooltip ***** */
/* ------------------------------------------------------------------- */

#tooltip,
#tooltip_nav {
    color: #fff;
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    background: #212121;
    -webkit-transition: .5s opacity;
    transition: .5s opacity;
    padding: 1ex;
    border-radius: 3px;
    max-width: 400px;
    z-index: 3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}
#tooltip_nav { position: fixed; z-index: 4; }

#tooltip_before,
#tooltip_nav_before {
    border-color: #212121 transparent transparent;
    border-width: 1ex 1ex 0;
    border-style: solid;
    content: " ";
    position: absolute;
    left: calc(50% - .5em);
    bottom: -.9ex
}

#tooltip_text {
    white-space: pre-line;
}



/* ------------------------------------------------------------------- */
/* ***** toast ***** */
/* ------------------------------------------------------------------- */

#toast {
    position: fixed;
    background-color: #424242;
    color: rgba(255, 255, 255, .9);
    padding: 1em 1.5em 1em .75em;
    min-width: 350px;
    max-width: calc(100% - 2em);
    bottom: 1em;
    z-index: 5;
}
@keyframes snackbar_on {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#toast.on {
    animation-name: snackbar_on;
    animation-duration: .3s;
}
@keyframes snackbar_off {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
#toast.off {
    opacity: 0; visibility: none;
    animation-name: snackbar_off;
    animation-duration: .3s;
    z-index: 0;
}



/* ------------------------------------------------------------------- */
/* ***** context-menu ***** */
/* ------------------------------------------------------------------- */

#contextmenu {
	z-index:1000;
	position: fixed;
	opacity:0;
	visibility: hidden;
	cursor: default;
    color:rgba(0,0,0,.5);
    background-color:#fff;
    border: 1px solid #bbb;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12);
    transition:.25s;
    transition-property: opacity, transform, margin;
    top:50%;
    font-size: 14px;
}
#contextmenu {
    top:2em; left:-302px;
    transform: perspective(500px) rotateX(15deg);
    margin-top:-2em;
}
#contextmenu.on {
    transform: none;
    transform-origin: 50% 100%;
    margin-top:0;
    visibility:visible;
    opacity:1;
}

#contextmenu > .output { overflow: hidden; width: 300px; height: 100px; border: none;  padding: .5em; }
#contextmenu > .output:focus { outline: none; }
#contextmenu > .output::selection { background: rgba(0, 0, 0, 0.1); }

#contextmenu i { font-size: 1.25em; }
#contextmenu > div { padding: 1ex 2ex; color:#212121; }
#contextmenu > div:hover {
    background: rgba(158, 158, 158, .2);
    box-shadow: none;
    z-index: 1
}
/*#contextmenu > #for_copy { position: absolute; top: 0; margin: 0; }*/



/* ------------------------------------------------------------------- */
/* ***** target IE or other brower ***** */
/* ------------------------------------------------------------------- */

#browser_alert   {
    display: none;
    position:fixed; top: 0; left: 0; width: 100%; height: 100%;
    padding:1em; z-index: 9;
    background: #fff; background: rgba(255,255,255,.95);
}
#browser_alert.on   { display: block; }
#browser_alert div {
    max-width: 600px; margin: auto;
}


/* ------------------------------------------------------------------- */
/* ***** mobile ***** */
/* ------------------------------------------------------------------- */

    @media handheld, only screen and (max-device-width:480px), only screen and (max-device-width:320px), screen and (max-width:600px) {
    body {
        width: calc(100% - 2em)!important;
        padding: 1em!important
    }
    header {
        font-size: .75em;
        position: fixed
    }
    h1 #percentage {
        margin: 0
    }
    h1 #percentage:before {
        content: ""
    }
    .percentage {
        display: none
    }
    #sub_header {
        padding-left: 0!important;
        width: 100%!important
    }
    #column_bt  {display: none;}
    #sub_header .filter_bt {
        padding: 12px 18px
    }
    #column_bt i,
    #sub_header i {
        margin: 0
    }
    #sub_header .filter_bt span:not(.ink_bar) {
        display: none
    }
    #nav_on {
        display: block
    }
    nav {
        left: -256px;
        z-index: 6;
        box-shadow: none;
        padding-top: 0;
        height: 100%
    }
    nav.on {
        left: 0;
        box-shadow: 2px 0 5px rgba(0, 0, 0, .25)
    }
    #nav_bg.on {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100)
    }
    nav #nav {
        height: 100%
    }
    nav #nav_header { padding: 6px 0; }
    nav #nav_footer { display: none; }


    #setting {
        z-index: 6;
        top: 0!important; left: 0!important; padding: 0!important;
        width:100%!important; max-width: 100%; height:100%;
        border-radius: 0!important;
    }
    #setting_bg.on{z-index: 6;}
    #setting .header    {
        display: block;
        margin-bottom: 1em;
        height: 48px;
        display: flex;
        align-items: center;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .2);
    }
    #setting .header i, #setting .header span   {
        color: #fff!important; padding: .5em; font-size: 24px;
    }
    #setting .header span { margin:0; padding: 0; }
    #setting .setting_title { border-top: 1px solid rgba(0, 0, 0, .12); }
    #setting .setting_title:nth-of-type(2) { border-top: none; }

    #toast {
        padding: 1em 1.5em 1em .75em;
        min-width: 100%;
        max-width: 100%;
        bottom: 0; left:0!important;
        z-index: 5;
    }
    @keyframes snackbar_on {
        0% {bottom: -56px;}
        100% {bottom: 0;}
    }
    #toast.on {
        animation-name: snackbar_on;
        animation-duration: .3s;
    }
    @keyframes snackbar_off {
        0% {bottom: 0;}
        100% {bottom: -56px;}
    }
    #toast.off {
        bottom:  -56px;
        animation-name: snackbar_off;
        animation-duration: .3s;
    }
}
