.dashboard {
  color: rgba(255, 255, 255, .98);
  line-height: 1;
  font-size: .9em;
  padding-bottom: 3.5em !important;
  max-width: 2580px;
}

.dashboard h2 {
  color: rgba(255, 255, 255, .98);
  margin-top: 0;
}

.dashboard .value {
  font-size: 2.25em;
  line-height: 1.25;
}

.dashboard .item_wrap {
  display: flex;
}

.dashboard .item {
  flex: 1 1 auto;
}

.dashboard .sub_info {
  font-size: .75em;
}

.dashboard .subtitle {
  position: relative;
}

#first_class .card_wrap:last-child {
  /* max-width: calc(100% - 1em) !important; */
}

@media (max-width:1920px) {
  #item_list_count {
    display: none !important;
  }
}

@media (max-width:1600px) {
  #item_failed_count {
    display: none !important;
  }
}

@media handheld, only screen and (max-device-width:480px), only screen and (max-device-width:320px), screen and (max-width:600px) {
  #item_acheieved_count {
    display: none !important;
  }
}
