@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    /*max-width: 600px;*/
    margin: auto;
    padding: 1em;
    background: #e5e5e5;
    font-family: 'Noto Sans KR', sans-serif;
    /*font-size: 12px;*/
    margin-top: 96px;
    color:rgba(0,0,0,0.87);
    padding-left: calc(1em + 256px);
}

header{
    position: fixed;;  color:#fff;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
    width: 100%; height: 48px;
    left: 0;
    top: 0;
    z-index: 4; background: #fff;text-align: center;
}

#sub_header {
    width:calc(100% - 256px); height: 48px;position: fixed;
    top: 48px;
    z-index: 3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    left: 256px;
    color:#fff;
}
#sub_header .filter_bt, #column_bt {
    position: relative;
    font-size: 16px;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
}
#sub_header .filter_bt.on .ink_bar {
    width: 100%;
    position: absolute;
    background: #fff;
    height: 3px;
    bottom: 3px;
    left: 0;
}

#column_bt{
    float: right;
}

section {width:100%;text-align: center;}

a {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition:.25s;padding: .5em .75em;
    margin: -0.75em -.75em;
}

a:hover  {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    background:#fff;
    z-index:10;position: relative;
}

#nav_on {
    padding: .5em; display: none;
    border-radius: 50%;
    width: 1em;    top: 0;
    position: absolute;;
}

#nav_bg {
    position: fixed;    z-index: 3;
    display: none;
    left:0; top:0;
    transition: .25s background;
    width: 100%; height: 100%;
}

#to_github  {
    padding: 1em;
    border-radius: 50%;
    width: 1em;
    top: 0;
    position: absolute;
    right: 0;
    cursor: pointer;
}

nav {
    position: fixed; z-index: 4;
    top:0;
    left:0;
    width: 256px;
    /*left: calc(49em + 4em);*/
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .25);
    transition: .25s;
    /*border-radius: 3px;*/
    padding-top: 48px;
    height: calc(100% - 48px);
    overflow-y: auto; overflow-x: hidden;
    /*margin-left: -15em;*/
    transition: .25s left;
}

nav a       {
    margin: -.5em 0;
    font-size: 16px; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
    color:rgba(0,0,0,0.54);
}
nav a:hover { background: rgba(158,158,158,0.2); box-shadow: none; }
nav h2 a     { color:rgba(0,0,0,0.38); }
nav h2:first-of-type { margin-top:1em; }
nav h3      { margin: .25em 0; padding:0;}
nav h4      { margin: .25em 0;}
nav h2 a, nav h3 a    { padding-left: 1.5em; }
nav h4 a    { padding-left:   3em; }

h2,h3   {color: rgba(0,0,0,0.54); max-width: 600px; }
h1{ text-transform: uppercase;     font-size: 22px;
    margin: 8px 0;
}
h2 {}

    h3 .material-icons {vertical-align: bottom;font-size: 1.25em!important;}
    h3 .material-icons    {margin-right: 1em;}

dl {
    padding: 1em;
    margin: 0;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    background: white;
    width: calc(100% - 2em);
}

dl dl {
    padding: 0;
    box-shadow: none;
}

dt {
    /*font-size: 1.25em;*/
    color: #777;
    display: inline;
}

dd {
    font-size: .9em;
    color: #aaa;
}

dd + input {
    margin-top: 1em;
}

dd ul {
    list-style: none;
    padding: 0;
    column-count: 2;
}

dd ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input{
    display: none;
}

input[checked] + * {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

input[failed] {
    opacity: 0;
}

input[failed]+* {
    text-decoration: line-through;
}

input[failed]+*::after {
    content: " - 실패";
    color:#F44336;
}

dl .material-icons{margin: 0;}
/*input:before {
    content: "check_box_outline_blank";
}

input[checked]:before {
    content: "check_box";
}*/


.date {
    float: right;
    color: #aaa;
}

/*-------------------------------------------*/

section > dl    {
    display: inline-block; text-align: left;
    margin:0 0 1em;
    width: calc(100% - 2em); max-width: calc(600px - 2em);
}

.card {
    perspective: 1000;
    -webkit-perspective: 1000;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    text-align: left;
    margin: 0 auto 1em;
    position: relative;
}

.card:hover {
    z-index: 2;
}

.card:hover .front  {
    transform: rotateX(180deg);
}

.card:hover .back  {
    transform: rotateX(0);
}

.card_wrap, .front, .back {
}

.front, .back {
    transition: .5s;
    transform-style: preserve-3d;
    transform-origin: 100% 50% 0;
    backface-visibility: hidden;
    left: 0;
    width: 100%;
}

/* front pane, placed above back */
.front {
    z-index: 2;
	/* for firefox 31 */
    /*transform: rotateX(0deg);*/
}

/* back, initially hidden pane */
.back {
    top: 0;
    position:absolute;
    transform: rotateX(-180deg);
    padding: 1em 1.5em;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    background: white;
    max-width:calc(100% - 3em);
}
.back p     {margin: 12px 0;}
#movie_wrap, #img_wrap {
    display: none;
    position: fixed; z-index: 4;
    top:0; left:0; width:100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
#movie_wrap > iframe {
    width: 90%;
    /*height: 450px;    top: calc(50% - 225px);*/
    position: relative;
}

.shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    border-radius: 3px;
}

img {width: 100%; cursor: pointer;}
img[hide]   {display: none;}

#img_wrap > img {
    width: 90%;
    position: relative;
}

.material-icons{vertical-align: middle;margin-right: .5em;}

@media handheld, only screen and (max-device-width: 480px), only screen and (max-device-width: 320px), screen and (max-width: 600px)	{
    body    {
        width: calc(100% - 2em)!important;
        padding: 1em;
    }
    header  {font-size: .75em;
        position: fixed;
        /*height:3em;*/
    }

    header h1 {position: relative; margin: 0.25em; }
    #nav_on { display: block; }
    nav {
        left: -256px;
        z-index: 4;
        box-shadow: none;
        padding-top: 0;
        height: calc(100% - 0em);
    }
    nav.on {
        left: 0em;
        box-shadow: 2px 0 5px rgba(0, 0, 0, .25);
    }
    #nav_bg.on  {
        display: block;
        background:rgba(0, 0, 0, 0.25);
    }
}
