@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

::selection{background: rgba(0, 0, 0, 0.15);}

body {
    max-width: 600px;
    margin: auto;
    padding: 1em 0;
    background: #e5e5e5;
    font-family: 'Noto Sans KR', sans-serif;
    /*font-size: 12px;*/
    margin-top: 96px;
    color:rgba(0,0,0,0.87);
    padding-left: 256px;
    cursor: default;
    overflow-x: hidden;
    /*transition: .25s;*/
}

body.columns{
    max-width: 100%;
    padding-left:calc(1em + 256px);
}

body.fold{
    padding: 1em 68px 1em  calc(1em + 136px);
}

header{
    position: fixed;;  color:rgba(255, 255, 255, 0.98);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
    width: 100%; height: 48px;
    left: 0;
    top: 0;
    z-index: 4; background: #fff; text-align: center;
}

#sub_header {
    width:calc(100% - 256px); position: fixed; top: 48px;
    z-index: 3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    left: 0;
    padding-left: 256px;
    transition: .5s;
    background: #aaa;
}
#sub_header.fold{
    width:calc(100% - 68px);
    padding-left: 68px;
}
#sub_header > #line1 {
    /*height: 48px;*/
    color:rgba(255, 255, 255, 0.75);
}

#sub_header .filter_bt:hover, #column_bt:hover {
    color:rgba(255, 255, 255, 0.98);
}

#sub_header .filter_bt, #column_bt {
    position: relative;
    font-size: 16px;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    transition: .25s;
}
#sub_header .filter_bt .ink_bar {
    position: absolute;
    background: #fff;
    height: 3px;
    bottom: 0;
    left: 50%;
    width: 0;
    margin: auto;
}
#sub_header .filter_bt.on .ink_bar {
    transition: .25s;
    left: 0;
    width: 100%;
}
#sub_header .filter_bt.on{color:rgba(255, 255, 255, 0.98);}



#column_bt{
    float: right;
}

section.sub {width:100%;text-align: center;}

a {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition:.25s;padding: .5em .75em;
    margin: -0.75em -.75em;
}

a:hover  {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    background:#fff;
    z-index:10;position: relative;
}

#nav_on {
    padding: .5em; display: none;
    border-radius: 50%;
    width: 1em;    top: 0;
    position: absolute;;
}

#nav_bg {
    position: fixed;    z-index: 3;
    /*display: none;*/
    left:0; top:0;
    transition: .5s;
    width: 100%; height: 100%;
    display: block;
    visibility:hidden;
    background:rgba(0, 0, 0, 0.25);
    opacity: 0;
}

#to_github  {
    padding: .5em;
    border-radius: 50%;
    width: 1em;
    top: 0;
    position: absolute;
    right: 0;
    cursor: pointer;
}

nav {
    display: flex;
    position: fixed; z-index: 4;
    top:0;
    left:0;
    width: 256px;
    /*left: calc(49em + 4em);*/
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .25);
    /*border-radius: 3px;*/
    padding-top: 48px;
    height: calc(100% - 48px);
    overflow-y: auto; overflow-x: hidden;
    /*margin-left: -15em;*/
    transition: .5s;
}
nav #nav{
    width: 100%;
    height: calc(100% - 46px);
    overflow-y: auto;
    transition: .5s;
}
nav a       {
    margin: -.5em 0;
    font-size: 16px; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
    color:rgba(0,0,0,0.54);
}

nav a:hover { background: rgba(158,158,158,0.2); box-shadow: none; z-index: 1;}
nav h2 a     { color:rgba(0,0,0,0.38); }
nav h2:first-of-type { margin-top:1em; }
nav h3      { margin: .25em 0; padding:0;}
nav h4      { margin: .25em 0;}
nav h2 a, nav h3 a    { padding-left: 22px; }
nav h4 a    { padding-left:   3em; }

nav #nav_footer {
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
    flex: 0 0 auto;
    height: 44px;
    padding: 0;
    margin: 0;
    width: inherit;
    left: 0;
    background: #fafafa;
    border: 0;
    bottom:0;
    position: fixed;
    z-index: 2;
    border-top: 1px solid rgba(0,0,0,0.1);
}
nav #nav_footer i {margin: 10px 22px; float: right; transition: .5s;}
nav.fold #nav_footer i {transform: rotate(180deg);}
nav.fold    {width:68px;}
nav.fold #nav::-webkit-scrollbar { display: none; }
nav.fold #nav a   {color:transparent;}
nav #nav a i   {color: rgba(0,0,0,0.54);}
nav.fold #nav a i   {color: rgba(0,0,0,0.54);}
nav #nav h2, nav #nav h3   {transition: .5s;}
nav #nav h2   {
    height: 40px;
    margin: 16px 0 0;
    position: relative;
}
nav.fold #nav h2   {
    margin: 16px 0 14px;
    height: 3px;
}
nav #nav h2:not(:first-child):before   {
    position: absolute;
    content:"";
    height: 3px;
    width: 100%;
 }
nav.fold #nav h2:before{box-shadow: 0 1px 0 rgba(0,0,0,0.12) inset; }
nav.fold #nav h2 a   { opacity: 0; width:0; }

h2,h3   { color: rgba(0,0,0,0.54); }
h1      { text-transform: uppercase;     font-size: 22px;
    margin: 8px 0;
}


h1  #percentage {
    /*margin-left: 1em;*/
}
h1  #percentage::before {
    content: "달성: ";
}
h1  #percentage_tail {
    opacity: 0;
    transition: .25s;
    position: absolute;
    margin-left: .5em;
}
h1:hover  #percentage_tail {
    opacity: 1;
}

h2 {

}

h3 .material-icons {vertical-align: bottom;font-size: 1.25em!important;}
h3 .material-icons    {margin-right: 1em;}
h4{margin:2em 0 0;}
h4:first-of-type {margin-top: .5em;}

dl {
    padding: 1em;
    margin: 0;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    background: white;
    width: calc(100% - 2em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

dl dl {
    padding: 0;
    box-shadow: none;
}

dt {
    font-size: 16px;
    color: #777;
    display: inline;
    /*margin: -25px 0 0 27px;*/
}

dd {
    font-size: .9em;
    color: #aaa;
    white-space: normal;
}

dd + input {
    margin-top: 1em;
}

dd ul {
    list-style: none;
    padding: 0;
    column-count: 2;
    margin-bottom: 0;
}

dd ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.back ol {
    column-count: 2; column-gap: 3em; padding-left:1em;
}
.back ol li span{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    margin: 0 0 -5px;
}
input{
    display: none;
}

input[checked] + * {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

input[failed] {
    opacity: 0;
}

input[failed]+* {
    text-decoration: line-through;
}

input[failed]+*::after {
    content: " - 실패";
    color:#F44336;
}

/*input:before {
content: "check_box_outline_blank";
}

input[checked]:before {
content: "check_box";
}*/


.date {
    float: right;
    color: #aaa;
    /*position: absolute;
    right: 16px;
    background: #fff;
    backface-visibility: hidden;
    padding-left: .5em;*/
}

/*-------------------------------------------*/

/*section > dl    {
    display: inline-block; text-align: left;
    margin:1em;
    width: calc(100% - 2em); max-width: calc(600px - 2em);
    transition: .25s;
}*/

.card_wrap{
    perspective: 1000;
    -webkit-perspective: 1000;
    width: 100%;
    max-width: 600px;
    display: inline-block;
    margin: 0 1em 1em 0;
    /*transition: .25s;*/
    text-align: left;
}

.card_wrap:hover{z-index: 2;}

.card_wrap.hide{display: none; margin:0;}

.card {
    transition: .5s;
    transform-style: preserve-3d;
    transform-origin: 100% 50% 0;
    text-align: left;
    width: 100%;
    position: relative;
}

.card:hover {
}
.card_wrap:hover .card  {
    z-index: 2;
    transform: rotateX(180deg);
}

.card_wrap, .front, .back {
}



.front, .back {
    backface-visibility: hidden;
    left: 0;
    width: 100%;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    /*transform: rotateX(0deg);*/
}

/* back, initially hidden pane */
.back {
    bottom: 0;
    position:absolute;
    padding: .5em 1em;
    transform: rotateX(-180deg);
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    background: white;
    z-index: 2;
    max-width:calc(100% - 2em);
}
.back > p { margin: .5em 0; }
.back > p:only-child { margin: 18px 0 }

#movie_wrap, #img_wrap {
    display: none;
    position: fixed; z-index: 4;
    top:0; left:0; width:100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
#movie_wrap > iframe {
    width: 90%;
    /*height: 450px;    top: calc(50% - 225px);*/
    position: relative;
}

.shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    border-radius: 3px;
}

img {width: 100%; cursor: pointer;}
img[hide]   {display: none;}

#img_wrap > img {
    width: 90%;
    position: relative;
}

.material-icons{vertical-align: text-bottom; margin-right: .5em;}
dl .material-icons, .back .material-icons{margin-right: 0;}
a:not(nav a) > .material-icons{margin: 0;}

#tooltip,#tooltip_nav	{ color:#fff; position:fixed; top:0; visibility: hidden; opacity:0; background:#212121; transition:.5s opacity;  z-index: 2; padding:1ex; border-radius: 3px; max-width:400px; z-index: 4;box-shadow: 0 2px 5px rgba(0, 0, 0, .25);}
#tooltip_before,#tooltip_nav_before	{ border-color: #212121 transparent transparent transparent;  border-width: 1ex 1ex 0 1ex;  border-style: solid;  content: " ";  position: absolute; left: calc(50% - .5em); bottom:-.9ex; }

@media handheld, only screen and (max-device-width: 480px), only screen and (max-device-width: 320px), screen and (max-width: 600px)	{
    body    {
        width: calc(100% - 2em)!important;
        padding: 1em!important;
    }
    header  {font-size: .75em;
        position: fixed;
        /*height:3em;*/
    }

    /*header h1 {position: relative; margin: 0.25em; }*/

    h1  #percentage{
        margin: 0;
    }
    h1  #percentage::before {
        content: "";
    }
    h1  #percentage_tail{display: none;}

    #sub_header{padding-left:0!important; width: 100%!important;}
    #sub_header .filter_bt, #column_bt{padding: 12px 18px;}
    #sub_header i {margin: 0;}
    #sub_header .filter_bt span:not(.ink_bar){display: none;}

    #nav_on { display: block; }
    nav {
        left: -256px;
        z-index: 4;
        box-shadow: none;
        padding-top: 0;
        height: calc(100% - 0em);
    }
    nav.on {
        left: 0em;
        box-shadow: 2px 0 5px rgba(0, 0, 0, .25);
    }
    #nav_bg.on  {
        visibility:visible;
        opacity: 1;
    }
    nav #nav{height: 100%;}
    nav #nav_footer{display: none;}
}
