@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/*@import url(iconfont/material-icons.css);*/
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);

body { background: #e5e5e5; }

.article h2:not(:first-child):not(:first-of-type):after,
.article h2:not(:first-child):not(:first-of-type):before { background: #e5e5e5; color:#bbb; }
.article h2:not(:first-child):not(:first-of-type) {border-color: #bbb;}

.card_wrap dl, dl#setting {
    padding: 1em;
    margin: 0;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    background: #fff;
    width: calc(100% - 2em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .25s;
}

.card_wrap dl dl {
    padding: 0;
    box-shadow: none
}

.card_wrap dt, #setting dt {
    font-size: 16px;
    color: #777;
    display: inline;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_wrap dd, #setting dd  {
    font-size: .9em;
    color: rgba(0, 0, 0, .5);
    white-space: normal;
}

.card_wrap dd+input {
    margin-top: 1em;
}

.card_wrap dd ul {
    list-style: none;
    padding: 0;
    column-count: 2;
}

.card_wrap dd:last-child ul {
    margin-bottom: 0;
}

.card_wrap dd ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

.card_wrap dd ul li dt {margin-left: 4px;}

.card_wrap .back ol, .back ul {
    column-count: 2;
    column-gap: 3em;
    padding-left: 1em;
}
.card_wrap .back ul {list-style: none;}
.card_wrap .back li span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    margin: 0 0 -5px;
}

.card_wrap input {
    display: none;
}

/*.card_wrap input + dt:before, #setting input + dt:before {
    content: "check_box_outline_blank"; 색설정문제로 걍 js에서 처리함
}*/

.card_wrap input[checked] + dt, #setting input[checked] + dt {
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.card_wrap input[failed] {
    opacity: 0;
}

.card_wrap input[failed] + dt {
    /*text-decoration: line-through*/
}

.card_wrap input[failed] + dt + dd:after {
    content: "FAILED";
    /*content: "실패했습니다";*/
    display: inline-block;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    border: 3px solid #f44336;
    line-height: 1;
    font-family: 'Black Ops One', 'Hanna', cursive;
    color: #F44336;
    border-width: 4px 0;
    position: absolute;
    margin-top: -.75em;
    /*right: -.5em;*/
    margin-left: -3em;
    font-size: 1.5em;
    padding: 2px 0 0px;
    backface-visibility: hidden;
}

.card_wrap .date {
    float: right;
    color: #aaa;
}
.card_wrap li > .date { float: none; }

.card_wrap {
    perspective: 1000;
    -webkit-perspective: 1000;
    width: 100%;
    max-width: 600px;
    display: inline-block;
    margin: 0 1em 1em 0;
    text-align: left;
}

.card_wrap:hover {
    z-index: 3;
}

@keyframes unhover {
    0% {z-index: 2;}
    99% {z-index: 2;}
    100% {z-index: 1;}
}

.card_wrap:not(:hover) {
    animation-name: unhover;
    animation-duration: .5s;
}

.card_wrap .card {
    transition: .5s;
    transform-style: preserve-3d;
    transform-origin: 100% 50% 0;
    text-align: left;
    width: 100%;
    position: relative
}

.card_wrap:hover .card {
    z-index: 2;
    transform: rotateX(180deg)
}

.card_wrap .back,
.card_wrap .front {
    backface-visibility: hidden;
    left: 0
}

.card_wrap .front {
    z-index: 2
}

.card_wrap .back {
    bottom: 0;
    position: absolute;
    width: 100%;
    transform: rotateX(-180deg);
    border-radius: 3px;
    background: #fff;
    z-index: 2;
    max-width: 100%
}

.card_wrap .back,
dl:not(.card):hover {
    box-shadow: 0 5px 12px rgba(0, 0, 0, .2)
}

.card_wrap .back>:not(img) {
    margin: .5em 1em
}

.card_wrap .back>:first-child:not(img) {
    margin: 1em 1em .5em
}

.card_wrap .back>:last-child:not(img) {
    margin: .5em 1em 1em
}

.card_wrap .back>:only-child:not(img):not(ol) {
    margin: 26px 1em
}

.card_wrap .back>img:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.card_wrap .back>img:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.card_wrap .back > .img {
    display: flex;
    overflow: hidden;
    margin: 0!important
}
.card_wrap .back > .img > div {
    flex: 1;
}
.card_wrap .back > .img:first-child>div:first-child>img {
    border-top-left-radius: 3px
}

.card_wrap .back > .img:first-child>div:last-child>img {
    border-top-right-radius: 3px
}

.card_wrap .back > .img:last-child>div:first-child>img {
    border-bottom-left-radius: 3px
}

.card_wrap .back > .img:last-child>div:last-child>img {
    border-bottom-right-radius: 3px
}

.card_wrap .material-icons {
    margin-right: 0;
    vertical-align: text-bottom;
}
.card_wrap a[href]:before {content: "open_in_new"}
.card_wrap a[href^='#']:before {content: "find_in_page"}
.card_wrap a[href$='.zip']:before {content: "save"}
.card_wrap a[href$='.pdf']:before {content: "insert_drive_file"}
.card_wrap a[onclick]:before {content: "theaters"}
.card_wrap a[src]:before {content: "photo"}
.card_wrap a:before     {
    vertical-align: text-bottom;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.cccv_bg    { background: #e5e5e5; padding:1px 1em; }
.cccv_bg > h2   { margin-top: 0; }
