body {
    /* --color--track: #af483f; */
    /* --color--track-dark: #8a3a32; */
    --color--body-background: #eee;
    --color--body-text: #212121;

    --color--track: #fff;
    --color--track-hover: var(--color--track);
    --color--track-dark: #eee;
    --color--track-border: #ddd;
    --color--track-border2: #aaa;
    --color--track-text: #212121;
    --color--track-shadow: rgba(0 0 0 / 0.25);

    --color--calendar-hover: #f7f7f7;
    /* --color--calendar-icon: #b2dfdb; */
    --color--calendar-icon: color-mix(in hsl, var(--color--gpx-middle), var(--color--track) 75%);

    --color--theme: #00b264;
    --color--theme-light: #69f0ae;
    --color--gpx-start: #00ff80;
    --color--gpx-middle: #00b264;
    --color--gpx-end: #004D40;
    --color--red: #f44336;
    --color--teal: #009688;
    --color--indigo: #3f51b5;
    --color--gold: #ffd700;
    --color--gold-dark: #f57f17;

    --color--scoreboard-bg: transparent;
    --color--scoreboard-text: #212121;
    --color--scoreboard-header: #212121;
}

@media (prefers-color-scheme: dark) {
    body {
        --color--body-background: #151515;
        --color--body-text: #e1dfdf;

        --color--track: #292929;
        --color--track-hover: #424242;
        --color--track-dark: #333;
        --color--track-border: #6a6a6a;
        --color--track-border2: #aaa;
        --color--track-text: #e1dfdf;
        --color--track-shadow: rgba(0 0 0 / 0.75);

        --color--calendar-hover: var(--color--track-hover);
        /* --color--calendar-icon: #1b5e20; */

        --color--red: #ef5350;
        --color--teal: #26a69a;
        --color--indigo: #5c6bc0;

        --color--scoreboard-bg: transparent;
        --color--scoreboard-text: #e1dfdf;
        --color--scoreboard-header: #e1dfdf;
    }

    footer img {
        opacity: inherit;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7150%) hue-rotate(2deg) brightness(119%) contrast(96%);
    }
}
