#calendar-container {
    --width--track-padding: 1.5em;
    --width--calendar: 400px;
    --width--calendar-max: calc(768px - var(--width--track-padding) * 2);

    /* width: calc(100% - 4em); */
    /* margin: 10em auto; */
    width: calc(var(--width--table) - 1em);
    margin-left: calc((100vw - var(--width--table)) / 2);
    margin-right: calc((100vw - var(--width--table)) / 2);
    padding: 0px;

    margin-top: calc(var(--margin--table-top) * -1);
}

#calendar-container .months-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em 3em;
    align-items: flex-start;
}

#calendar-container h2,
#calendar-container #calendar-grid .year-stats,
#calendar-container .filters,
/* #calendar-container .year-container, */
#calendar-container .month-table-container {
    max-width: var(--width--track);
    /* width: calc(100% - 4em); */
    margin: 1em auto;
}

#calendar-container #calendar-grid .year-stats {
    max-width: calc(var(--width--track) - 3em);
    margin-top: 4em;
}

#calendar-container .month-table-container {
    /* width: calc(var(--width--track) - var(--width--track-padding) * 2); */
    max-width: calc(var(--width--track) - var(--width--track-padding) * 2);
    width: 800px;
    padding: 0 var(--width--track-padding);
    background-color: var(--color--track);
    border-radius: 1.5em;
    margin: 0;
    flex-grow: 1;
}

#calendar-year-filter-container {
    margin: 0;
    line-height: 2;
}

#calendar-grid {
    /* background-color: var(--color--track); */
}

#calendar-grid table {
    width: 100%;
    border-radius: 1.5em;
    border-collapse: separate;
    /* Don't collapse */
    border-spacing: 0;
    table-layout: fixed;
    background-color: var(--color--track);
}

#calendar-grid thead,
#calendar-grid .month-stats-row {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--color--track);
}

#calendar-grid .month-stats-row {
    top: 46px;
}

#calendar-grid th,
#calendar-grid td {
    width: 100%;
}

#calendar-grid tr {
    position: relative;
}

#calendar-grid th,
#calendar-grid td {
    border-bottom: 1px solid var(--color--track-border);
}

#calendar-grid tr:last-of-type td {
    border-bottom: none;
}

#calendar-grid th {
    font-size: 0.8em;
    padding: 1em 1.5em;
    height: auto;
    text-align: center;
    font-weight: normal;
}

#calendar-grid th:first-of-type {
    width: 15em;
    text-align: left;
}

#calendar-grid .week-summary {
    font-size: 1.2em;
    width: 15em;
    /* padding: 1em 0 1em 1.5em; */
    vertical-align: middle;
}

#calendar-grid .week-info {
    margin-bottom: 5px;
}

#calendar-grid .week-stats .week-distance,
#calendar-grid .week-stats .week-elevation {
    width: 45%;
    display: inline-block;
}

#calendar-grid .week-stats .week-distance:before,
#calendar-grid .week-stats .week-elevation:before {
    font-size: 0.6em;
    opacity: 0.7;
    display: block;
    margin-top: 1em;
}

#calendar-grid .week-stats .week-distance:before {
    content: "러닝 거리";
}

#calendar-grid .week-stats .week-elevation:before {
    content: "트레일 상승고도";
}

td {
    transition: 0.05s;
    position: relative;
}

#calendar-grid .week-summary.on,
td.on {
    background-color: var(--color--calendar-hover);
}

.day-cell {
    position: relative;
    height: 7em;
    /* Set a fixed height */
}

.day-cell.hidden {
    /* visibility: hidden; */
}

.day-cell .date-display {
    position: absolute;
    left: calc(0.5em / 0.8);
    top: calc(1em / 0.8);
    font-size: 0.8em;
    opacity: 0.7;
    line-height: 1;
}

#calendar-grid .activity-circle svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#calendar-grid .activity-circle circle {
    transform-origin: 50% 50%;
    transform: scale(var(--gg, 0));
    fill: rgb(0, 178, 100);
}

#calendar-grid .day-cell.official {
    cursor: pointer;
}
#calendar-grid .day-cell.official .activity-circle circle {
    fill: gold;
}

.activity-stats {
    bottom: 1em;
    right: 0.5em;
    position: absolute;
    opacity: 0.7;
    font-size: 0.8em;
}

.activity-stats .distance,
.activity-stats .elevation {
    text-align: right;
    /* display: inline-block; */
    margin-right: 0.5em;
}

.activity-icons {
    left: 50%;
    top: 50%;
    color: var(--color--calendar-icon);
    transform: translate(-50%, -50%);
    /* opacity: 0.7; */
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
}

.activity-icons i {
    margin: 0 -0.125em;
}

.activity-icons:has(.rest) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color--track-dark);
    color: var(--color--track-border);
}

.official-race-icon {
    color: var(--color--gold-dark);
}

#calendar-grid .empty {
    background-color: #fafafa;
}

.empty-week {
    display: none;
}

#calendar-load-more-container {
    text-align: center;
    margin-top: 1em;
}

#load-more-calendar {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}

#load-more-calendar:hover {
    background-color: #45a049;
}

/* ----------------------------------------
 * stats
 * ---------------------------------------- */

#calendar-grid .year-stats,
#calendar-grid .month-stats {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding: 0 0 1em;
    z-index: 2;
}

#calendar-grid .year-stats .stat-item,
#calendar-grid .month-stats .stat-item {
    flex-grow: 1;
    display: inline-block;
}

#calendar-grid .year-stats .stat-item:first-of-type,
#calendar-grid .month-stats .stat-item:first-of-type {
    flex-grow: 2;
}

#calendar-grid .year-stats .label,
#calendar-grid .month-stats .label {
    font-size: 0.8em;
}

#calendar-grid .year-stats .value,
#calendar-grid .month-stats .value {
    font-size: 1.2em;
}

#calendar-grid .month-stats .stat-item:first-child .label {
    font-size: 1.2em;
    font-weight: bold;
}

/* ----------------------------------------
 * calendar - compact filtered
 * ---------------------------------------- */

#calendar-grid.compact .months-grid {
    gap: 3em 2em;
}

#calendar-grid.compact .activity-icons,
#calendar-grid.compact .activity-stats,
#calendar-grid.compact .month-stats .stat-item:nth-of-type(3),
#calendar-grid.compact .month-stats .stat-item:nth-of-type(5),
#calendar-grid.compact th:first-of-type,
#calendar-grid.compact td.week-summary {
    display: none;
}

#calendar-grid.compact .day-cell .date-display {
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

#calendar-grid.compact .day-cell:has(.activity-circle):not(.official) .date-display {
    color: var(--color--body-background);
}
#calendar-grid.compact .day-cell:has(.activity-circle) .date-display {
    font-weight: bold;
}
#calendar-grid.compact .day-cell:has(.activity-circle).official .date-display {
    color: #212121;
}
#calendar-grid.compact .months-grid {
    /* justify-content: space-between; */
}

#calendar-grid.compact .month-table-container {
    width: var(--width--calendar);
    max-width: var(--width--calendar-max);
}

#calendar-grid.compact .day-cell {
    height: 4em;
}

/* ========================================
 * 4K
 * ======================================== */

@media screen and (min-width: 1280px) {
    /* Adjustments for larger screens if needed */
}

/* ========================================
 * track dynamic
 * ======================================== */

@media screen and (max-width: calc((1280px + 4em)*1.2)) {
    #calendar-container {
        width: calc(100% - 4em);
        margin-left: auto;
        margin-right: auto;
    }
    #calendar-container .filters,
    #calendar-container h2 {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

@media screen and (max-width: calc(1280px + 4em)) {
    #calendar-container {
        margin-top: calc(-100vw + var(--margin--table-top) + 34em);
    }
}

/* ========================================
 * tablet
 * ======================================== */
@media screen and (max-width: 768px) {
    #calendar-container {
        margin-top: 5em;
        height: inherit;
        position: inherit;
    }

    #calendar-grid.compact,
    .calendar-grid {
        width: 100%;
        margin: auto;
        /* font-size: 0.7em; */
    }

    #calendar-grid.compact .day-cell,
    .day-cell {
        height: 3em;
    }

    .day-cell .date-display {
        /* display: none; */
        left: 50%;
        top: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    .day-cell:has(.activity-circle) .date-display {
        color: var(--color--body-background);
    }

    #calendar-grid th {
        padding: 1em 0;
    }

    #calendar-grid .year-stats,
    #calendar-grid .month-stats-row td {
        font-size: 0.8em;
    }

    #calendar-grid .activity-icons,
    #calendar-grid .activity-stats,
    #calendar-grid .year-stats .stat-item:nth-of-type(3),
    #calendar-grid .year-stats .stat-item:nth-of-type(5),
    #calendar-grid .month-stats .stat-item:nth-of-type(3),
    #calendar-grid .month-stats .stat-item:nth-of-type(5),
    #calendar-grid th:first-of-type,
    #calendar-grid td.week-summary,
    .shadow-bottom:before {
        display: none;
    }

    #calendar-container h2,
    #calendar-container #calendar-grid .year-stats,
    #calendar-container .filters,
    #calendar-container .month-table-container {
        width: 100%;
    }

    #calendar-container .month-table-container {
        --width--track-padding: 1em;
        width: var(--width--calendar);
        max-width: var(--width--calendar-max);
    }

    #calendar-container #calendar-grid .year-stats {
        width: calc(100% - 2em);
        padding: 0;
    }

    #calendar-grid .months-grid {
        gap: 3em 2em;
    }
}

/* ========================================
 * mobile
 * ======================================== */

@media screen and (max-width: 425px) {
    #calendar-container {
        width: calc(100% - 2em);
        margin-left: 1em;
        margin-right: 1em;
    }

    /* ----------------------------------------
     * calendar
     * ---------------------------------------- */

    #calendar-grid.compact .months-grid,
    #calendar-grid .months-grid {
        width: 100%;
        margin: auto;
        gap: 1.5em;
    }
}
