@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&family=Material+Symbols:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

::selection {
    background-color: rgba(0, 0, 0, 0);
}

body {
    /* --color--track: #af483f; */
    /* --color--track-dark: #8a3a32; */
    --color--body-background: #eee;
    --color--body-text: #212121;

    --color--track: #fff;
    --color--track-hover: var(--color--track);
    --color--track-dark: #eee;
    --color--track-border: #ddd;
    --color--track-border2: #aaa;
    --color--track-text: #212121;
    --color--track-shadow: rgba(0 0 0 / 0.25);

    --color--calendar-hover: #f7f7f7;

    --color--gpx-start: #00ff80;
    --color--gpx-middle: #00b264;
    --color--gpx-end: #005c45;
    --color--red: #f44336;
    --color--teal: #009688;
    --color--indigo: #3f51b5;

    --color--scoreboard-bg: transparent;
    --color--scoreboard-text: #212121;
    --color--scoreboard-header: #212121;

    --width--track: 1280px;
    /* --width--track: 1440px; */
    --width--table-width: 85vw;
    --margin--table-top: 25em;

    font-family: "Noto Sans KR", sans-serif;
    color: var(--color--scoreboard-text);
    background-color: var(--color--body-background);
    margin: 0;
    /* overflow-x: hidden; */
    cursor: default;
}

h1 {
    text-align: center;
    color: var(--color--scoreboard-text);
    margin: 5em 0 0;
}

a {
    color: inherit;
}

#stats-header {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em;
    margin: 5em 0 6em 0;
}

#stats-header:hover .stat-item:nth-of-type(1),
#stats-header:hover .stat-item:nth-of-type(2) {
    color: var(--color--red);
}

#stats-header:hover .stat-item:nth-of-type(3),
#stats-header:hover .stat-item:nth-of-type(4) {
    color: var(--color--teal);
}

#stats-header:hover .stat-item:nth-of-type(5) {
    color: var(--color--indigo);
}
.stat-item .label {
    font-size: 0.8em;
    color: var(--color--track-text);
    opacity: 0.7;
}

.stat-item .value {
    display: block;
    font-size: 1.5em;
}

.stat-item .value .icon {
    line-height: inherit;
    opacity: 0.5;
}

#main-container {
    --width--track-padding: 0.5em;
    display: flex;
    gap: 2em;
    padding: var(--width--track-padding);
    justify-content: center;
    transform: rotate(-90deg) translateX(-100%) translateY(calc((100vw - 100%) / 2 - 0.5em));
    transform-origin: 0 0;
    height: calc(100vw - 5em);
    max-height: var(--width--track);
    width: fit-content;
}

.racetrack {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--color--track-text);
    background: var(--color--track);
    border-radius: 1.5em;
}

.track-lane {
    width: 100px;
    height: calc(100% - 2em);
    border-radius: 1.5em;
    padding: 1em;
    position: relative;
    /* margin: 1em; */
    white-space: nowrap;
    /* border-right: 1px solid var(--color--track-border); */
    /* border-top: 10px solid var(--color--track-border); */
    transition: 0.25s, transform 0.05s;
    background-color: var(--color--track);
}

.track-lane:hover {
    background-color: var(--color--track-hover);
    box-shadow: -5px 0 12px var(--color--track-shadow);
    z-index: 1;
    transform: scale(1.05);
}

.track-lane:after {
    height: calc(100vw - 9em);
    max-height: calc(var(--width--track) - 4em);
    content: "";
    position: absolute;
    top: 2em;
    right: 0;
}

.track-lane:not(:last-of-type):after {
    border-right: 1px solid var(--color--track-border);
}

.track-lane:hover:not(:last-of-type):after {
    opacity: 0;
}

.year-label {
    margin: 1em 0 0.5em 0;
    font-size: 0.8em;
    opacity: 0.8;
    transition: 0.25s;
}

.track-lane:not(:first-of-type):not(:hover) .year-label {
    opacity: 0;
}

.racetrack h2 {
    text-align: center;
    border-bottom: 3px solid var(--color--track-border2);
    padding-bottom: 0.5em;
    margin-bottom: 20px;
}

#trail-track-container {
    position: relative;
}

#trail-filter-container {
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column; */
    transform: rotate(90deg);
    position: absolute;
    left: 0;
    font-size: 0.85em;
    top: 11.75em;
    left: 3em;
}

#trail-filter-container input {
    display: none;
}

#trail-filter-container label {
    padding: 0.5em 0;
    cursor: pointer;
}

#trail-filter-container label:not(:first-of-type):before {
    content: "·";
    margin: 0 0.5em;
    color: #999;
}

#trail-filter-container label:has(input:checked) {
    font-weight: bold;
}

.best-record-container {
    position: relative;
    margin: 3.5em auto 15em;
    transform: rotate(90deg);
}

.best-record-container:has(.official):has(.unofficial) {
    margin-top: 2.75em;
}

.unit {
    font-size: 0.75em;
    opacity: 0.75;
}

.best-record {
    white-space: nowrap;
    margin: 0;
}

.best-record.official:before {
    content: "★ ";
    color: gold;
}

.best-record.unofficial:before {
    content: "★ ";
    color: silver;
}

.track {
    margin-top: 20px;
    overflow-y: scroll;
    height: calc(100% - 24.5em);
}

.track::-webkit-scrollbar {
    display: none;
}

.shadow-top:before,
.shadow-bottom:before,
.shadow-top.shadow-bottom:before {
    content: "";
    position: absolute;
    width: calc(100% - 2em);
    height: calc(100% - 26.5em);
    z-index: 1;
    pointer-events: none;
}

.track-lane:hover .shadow-top:before,
.track-lane:hover .shadow-bottom:before,
.track-lane:hover .shadow-top.shadow-bottom:before {
}

.shadow-top:before {
    box-shadow: inset 0 24px 13px -18px rgba(0 0 0 / 0.25);
}

.shadow-bottom:before {
    box-shadow: inset 0 -24px 13px -18px rgba(0 0 0 / 0.25);
}

.shadow-top.shadow-bottom:before {
    box-shadow: inset 0 24px 13px -18px rgba(0 0 0 / 0.25), inset 0 -24px 13px -18px rgba(0 0 0 / 0.25);
}

.track-lane:hover .marker {
    border-color: var(--color--track-hover);
}

.track-lane:hover .marker.official {
    filter: brightness(1.1) contrast(1.5) hue-rotate(-90deg);
    z-index: 1;
}

.marker-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    justify-items: center;
}

.marker-grid:hover .marker {
    background-color: var(--color--track-dark);
    border-color: var(--color--track-dark);
    /* color: rgba(0, 0, 0, 0.5); */
    /* border-radius: 3px; */
}

.marker {
    width: calc(100% - 6px);
    padding-bottom: calc(100% - 6px);
    border-radius: 6px;
    cursor: default;
    transition: border-color 0.25s, background-color 0.25s, filter 0.25s;
    border: 3px solid var(--color--track);
    height: 0;
    font-size: 10px;
    text-align: center;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0);
    transform: rotate(90deg);
}

.marker:hover {
    color: var(--color--body-text);
    /* opacity: .75; */
}

.marker.official:hover,
.marker.unofficial:hover,
.marker-grid:hover .marker.official:hover,
.marker-grid:hover .marker.unofficial:hover,
.marker.highlight {
    /* transform: rotate(90deg) translateY(-5px); */
    box-shadow: 0 5px 12px var(--color--track-shadow);
    /* box-shadow: 0 0 5px 2px gold, 0 5px 12px rgba(0 0 0 / 0.25); */
    border-color: transparent;
    /* border-radius: 3px; */
}

.marker.has-record.official {
    cursor: pointer;
}

#table-container {
    /* max-width: 720px; */
    width: calc(100% - 4em);
    background: var(--color--scoreboard-bg);
    padding: 0 2em;
    margin-top: 10em;
    /* height: fit-content; */
    /* position: absolute; */
    /* top: 70em; */
}

.filters {
    background-color: var(--color--track);
    border-radius: 1.5em;
    border: none;
    overflow-x: auto;
}

.filters fieldset {
    border: none;
    white-space: nowrap;
    padding: 1em;
}

.filters legend {
    display: none;
}

.filters #reset-filters {
    background-color: transparent;
    border: none;
    color: #388e3c;
}

.filters .div {
    border-right: 1px solid silver;
    margin: 0.5em;
}

.filters .filter {
    /* background-color: #fff; */
    /* box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25); */
    border-radius: 2em;
    padding: 0.5em 0;
    margin: 1em;
    cursor: pointer;
}

.filters input {
    display: none;
}

.filters input:checked + .material-symbols-outlined {
    font-variation-settings: "FILL" 1;
}

.filters button,
.filters label {
    padding: 0.5em;
    cursor: pointer;
    border-radius: 2em;
}

.filters #reset-filters:hover,
.filters label:hover {
    background-color: #69f0ae;
    transition: 0.125s;
    color: var(--color--track);
}

.filters label:has(input:checked) {
    background-color: #00c853;
    color: var(--color--track);
}

#course-filter-container.disabled {
    color: var(--color--track-border);
    background-color: var(--color--track-dark);
    pointer-events: none;
}

.filters .filter.disabled label:has(input:checked) {
    color: var(--color--track-border);
    background-color: var(--color--track-dark);
}

#records-table {
    width: 100%;
    border-collapse: collapse;
    background: var(--color--scoreboard-bg);
    flex-grow: 1;
    /* Table grows to fill available space */
    display: block;
    /* Required for tbody scrolling */
    /* overflow: hidden; */
    cursor: default;
}

#records-table thead {
    width: 100%;
    display: block;
    margin: 1em 0;
}

#records-table thead tr {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
}

#records-table thead th {
    text-align: left;
    cursor: pointer;
}

#records-table thead th .text {
    margin-left: 0.5em;
}

#records-table thead th:hover {
    background: var(--color--track-dark);
}

#records-table tbody {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, auto));
    row-gap: 1.5em;
    column-gap: 1.5em;
}

#records-table th.sort-asc:after,
#records-table th.sort-desc:after {
    color: #666;
    content: "arrow_upward";
    position: absolute;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

#records-table th.sort-desc:after {
    content: "arrow_downward";
}

#records-table th,
#records-table td {
    /* border: 1px solid #333; */
}

#records-table td.isOfficial {
    display: inline-block;
    margin-right: -2em;
}

#records-table td.isOfficial .icon {
    background-color: gold;
    color: goldenrod;
    border-radius: 1em;
    padding: 4px;
    font-variation-settings: "FILL" 1;
    font-size: 16px;
}

#records-table td.date {
    font-size: 0.85em;
    color: #aaa;
    float: right;
}

#records-table td.title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.125em;
    max-width: calc(100% - 6.5em);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#records-table td.course {
    display: inline-block;
    width: fit-content;
    font-size: 0.85em;
    color: #aaa;
}

#records-table .icon {
    margin-right: 0.25em;
}

#records-table td.distance,
#records-table td.record,
#records-table td.pace {
    width: 150px;
    white-space: nowrap;
}

#records-table td .replace,
#records-table tr:hover td .main {
    display: none;
}

#records-table td:has(.replace) {
    outline-color: var(--color--track-dark);
}

#records-table tr:hover td:has(.replace) {
    background-color: var(--color--track-dark);
    outline: 0.5em solid var(--color--track-dark);
    border-radius: 1em;
}

#records-table tr:hover td .replace {
    display: inline-block;
}

#records-table tr {
    display: block;
    position: relative;
    width: calc(100% - 3em);
    padding: 1.5em;
    border-radius: 1em;
    background: var(--color--track);
    transition: 0.25s, transform 0.05s;
}

#records-table tr:has(th) {
    background-color: transparent;
}

#records-table tbody tr:hover,
#records-table tbody tr.highlight {
    background-color: var(--color--track-hover);
    box-shadow: 0 5px 12px var(--color--track-shadow);
    transform: scale(1.05);
}

/* ----------------------------------------
 * tooltip
 * ---------------------------------------- */

#tooltip {
    --width--tooltip: 450px;
    --width--tooltip-padding: 1.5em;
    --width--tooltip-svg: 6em;

    width: var(--width--tooltip);
    position: absolute;
    opacity: 0;
    /* background: rgba(0, 0, 0, 0.8); */
    background: var(--color--track-dark);
    box-shadow: 0 5px 11px var(--color--track-shadow);
    padding: var(--width--tooltip-padding);
    border-radius: var(--width--tooltip-padding);
    pointer-events: none;
    z-index: 1000;
    color: var(--color--body-text);
    transform: translate(-50%, calc(-100% - 2em));
    transition: opacity 0.25s;
}

#tooltip.on {
    opacity: 1;
}

#tooltip .tooltip-item {
    position: relative;
}

#tooltip .tooltip-item:not(:last-of-type) {
    border-bottom: 1px solid silver;
    padding-bottom: 1.5em;
    margin-bottom: 1em;
}

#tooltip .title-container {
    padding: 0 0 0.5em 0.5em;
}

#tooltip .type {
    font-size: 0.85em;
}

#tooltip .title {
    width: calc(var(--width--tooltip) - var(--width--tooltip-svg));
    font-size: 1.25em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#tooltip .title .comment {
    font-size: 0.7em;
    opacity: 0.7;
    font-style: italic;
    font-weight: normal;
}

#tooltip .title .official {
    background-color: gold;
    color: goldenrod;
    border-radius: 50%;
    font-size: 0.9em;
    padding: 0.25em;
    font-variation-settings: "FILL" 1;
}

#tooltip .date {
    position: absolute;
    right: calc(var(--width--tooltip-svg) + var(--width--tooltip-padding) * 2);
    color: #777;
    font-size: 0.85em;
}

#tooltip .data {
    width: calc(var(--width--tooltip) - var(--width--tooltip-svg) - var(--width--tooltip-padding) * 2);
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    background-color: var(--color--track);
    padding: 1em;
    border-radius: 2em;
}

#tooltip svg {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 3em;
    stroke-linejoin: round;
}

#tooltip .official svg {
    filter: brightness(1.1) contrast(1.5) hue-rotate(-90deg);
}

.icon.distance {
    color: #f44336;
}

.icon.record {
    color: #009688;
}

.icon.pace {
    color: #3f51b5;
}

.material-symbols,
.material-symbols-outlined {
    vertical-align: text-bottom;
}

.material-symbols {
    font-variation-settings: "FILL" 1;
}

footer {
    font-size: 0.85em;
    padding: 3em 0;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--color--track-text);
    background-color: var(--color--track-dark);
}

footer .i {
    margin: 0 1em;
}

footer .i:not(:first-child)::before {
    content: "";
    border-left: 1px solid #e0e0e0;
    margin-right: 2em;
    height: 0.5em;
    display: inline-block;
    height: 0.85em;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:not(.o) {
    font-weight: bold;
    color: var(--color--track-text);
}

/* 4K */

@media screen and (min-width: 1440px) {
    #table-container {
        width: calc(var(--width--table-width) - 1em);
        margin-left: calc((100vw - var(--width--table-width)) / 2);
        margin-right: calc((100vw - var(--width--table-width)) / 2);
        padding: 0;
    }
}

/* track dynamic */

@media screen and (max-width: calc(1440px + 4em)) {
    /* #table-container {
        margin-top: calc(-100vw + var(--margin--table-top) + 18em);
    } */
}

/* ========================================
 * tablet
 * ======================================== */
@media screen and (max-width: 768px) {
    h1 {
        padding: 0 5vw;
        font-size: 1.5em;
        margin-top: 1em;
    }

    h2 {
        font-size: 1em;
    }

    /* ----------------------------------------
     * stats
     * ---------------------------------------- */

    .stat-item .value {
        font-size: 1.2em;
    }

    #stats-header .icon,
    .stat-item:nth-of-type(1),
    .stat-item:nth-of-type(3) {
        display: none;
    }

    /* ----------------------------------------
     * tracks
     * ---------------------------------------- */

    #main-container {
        gap: 0;
        margin: auto;
        transform: none;
        height: fit-content;
        border-radius: 1.5em;
        background: var(--color--track);
    }

    .best-record-container {
        margin: 2em auto 10em;
    }

    .racetrack {
        height: auto;
        border-radius: 0;
        background: transparent;
    }

    .track-lane {
        max-width: 4em;
    }

    .track-lane:hover {
        transform: none;
        box-shadow: none;
        background-color: inherit;
    }

    .track-lane:after {
        top: 1em;
        height: calc(100% - 2em);
    }

    .track-lane:not(:only-child):after {
        border-right: 1px solid var(--color--track-border);
    }

    .track-lane:hover:not(:last-of-type):after {
        opacity: 1;
    }

    .racetrack h2 {
    }

    .track {
        overflow: visible;
        height: auto;
    }

    .track-lane:not(:first-of-type) .year-label,
    .track#track-trail .year-label {
        opacity: 0;
    }

    .marker-grid {
        gap: 0;
    }

    .marker-grid:hover .marker {
        border-radius: 0;
    }

    .marker {
        transform: none;
        width: 100%;
        padding-bottom: 100%;
        border: none;
        border-radius: 0;
    }

    .marker.official:hover,
    .marker.unofficial:hover,
    .marker-grid:hover .marker.official:hover,
    .marker-grid:hover .marker.unofficial:hover,
    .marker.highlight {
        transform: translateY(0);
        border-color: gold;
    }

    #trail-filter-container {
        display: none;
    }

    #table-container {
        display: none;
        height: inherit;
        position: inherit;
    }

    #records-table {
        overflow: inherit;
    }

    #records-table th .text {
        display: none;
    }

    /* ----------------------------------------
     * tooltip
     * ---------------------------------------- */
    #tooltip {
        left: 50% !important;
        top: inherit !important;
        bottom: 0;
        position: fixed;
        border-radius: 1.5em 1.5em 0 0;
        /* box-shadow: 0 -5px 12px var(--color--track-shadow); */
        transform: translate(-50%, 0%);
    }

    /* ----------------------------------------
     * footer
     * ---------------------------------------- */

    footer a {
        white-space: nowrap;
    }

    footer .i {
        margin: 0 0.25em;
    }

    footer .i:not(:first-child)::before {
        margin-right: 0.5em;
    }
}

/* ========================================
 * mobile
 * ======================================== */

@media screen and (max-width: 425px) {
    .track-lane {
        width: calc((100vw - 2em) / 5 - 1em - var(--width--track-padding) / 2);
        padding: 0.5em;
    }

    #tooltip {
        width: calc(100% - 2em);
        padding: 1em;
        border-radius: 0;
        box-shadow: 0 -5px 12px var(--color--track-shadow);
    }

    #tooltip .date {
        right: 0;
    }

    #tooltip .data {
        width: calc(100% - 2em);
        display: flex;
        justify-content: space-evenly;
    }
}
