/* ----------------------------------------
 * statstics
 * ---------------------------------------- */

/* stats header */

#stats-header {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em;
    margin: 5em 0 6em 0;
}

#stats-header:hover .stat-item:nth-of-type(1),
#stats-header:hover .stat-item:nth-of-type(2) {
    color: var(--color--red);
}

#stats-header:hover .stat-item:nth-of-type(3),
#stats-header:hover .stat-item:nth-of-type(4) {
    color: var(--color--teal);
}

#stats-header:hover .stat-item:nth-of-type(5) {
    color: var(--color--indigo);
}

.stat-item .label {
    font-size: 0.8em;
    color: var(--color--track-text);
    opacity: 0.7;
}

#stats-header .stat-item .value .icon {
    opacity: 0.5;
}

/* stats container */

#stats-container {
    max-width: var(--width--track);
    /* width: calc(100% - 4em); */
    margin: 10em auto;
}
#stats-container .stats-section {
    margin-bottom: var(--width--normal-margin);
}
#stats-container .stat-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    row-gap: var(--width--normal-margin);
    column-gap: var(--width--normal-margin);
    /* background: var(--color--track); */
    border-radius: 1em;
}

#stats-container .stat-item .value {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

#stats-container .stat-item .value .icon {
    line-height: 1.5;
}

#stats-container .stat-item {
    padding: var(--width--normal-margin);
    border-radius: 1em;
    background: var(--color--track);
    transition: 0.05s;
}

#stats-container .stat-item:hover {
    background-color: var(--color--track-hover);
    box-shadow: 0 5px 12px var(--color--track-shadow);
    transform: scale(1.05);
}

#stats-container .stat-item .icon {
    /* display:block; */
    font-size: 1.125em;
    /* text-align: center; */
}

#stats-container .stat-item [data-type*="official"] {
    transition: 0.05s;
}

#stats-container .stat-item[data-type="overall"] .label,
#stats-container .stat-item[data-type="overall"] .icon,
#stats-container .stat-item[data-type="overall"] .unit {
    color: var(--color--gold-metalic);
}
#stats-container .stat-item[data-type*="run"] .icon {
    color: var(--color--workout-run);
}
#stats-container .stat-item[data-type*="trail"] .icon {
    color: var(--color--workout-trail);
}
#stats-container .stat-item[data-type="walk"] .icon {
    color: var(--color--workout-walk);
}
#stats-container .stat-item [data-type*="official"] .label,
#stats-container .stat-item [data-type*="official"] .icon,
#stats-container .stat-item [data-type*="official"] .unit {
    color: var(--color--gold-normal);
    font-variation-settings: "FILL" 1;
    opacity: 1;
}

#stats-container .stat-item [data-type*="official"]:hover {
    background-color: var(--color--track-dark);
    /* box-shadow: 0 5px 12px var(--color--track-shadow); */
    /* transform: scale(1.1); */
    padding: 0.5em 1em;
    margin: -0.5em -1em;
    border-radius: 2em;
}

#stats-container .stat-item .sub-stats {
    margin-top: 0.5em;
}

/* ----------------------------------------
 * annual statstics
 * ---------------------------------------- */

.annual-stats .annual-label {
    font-size: 1em;
    opacity: .9;
}

#stats-container .annual-stats .stat-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
}
.annual-summary {
}

.annual-data-grid {
    display: flex;
    justify-content: space-between;
}

.annual-data .material-symbols-outlined {
    color: var(--color--workout-walk);
    display: none;
}

.stat-item .annual-data.on .label,
.stat-item .annual-data.on .unit {
    color: var(--color--gold-metalic);
}
.stat-item .annual-data.on .value{
    text-decoration: underline;
}

.monthly-chart {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;
}
.chart-bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    position: relative;
    width: calc(100% / 12);
    height: 100%;
    justify-content: flex-end;
}
.chart-bar {
    width: 60%;
    background-color: #e9ecef;
    border-radius: 0.25em 0.25em 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}
.bar-segment {
    width: 100%;
    transition: 0.23s;
}
.bar-segment:first-child {
    /* border-radius: .25em .25em 0 0; */
}
.bar-segment.run {
    background-color: var(--color--workout-run);
}
.bar-segment.trail {
    background-color: var(--color--workout-trail);
}
.bar-segment.walk {
    background-color: var(--color--workout-walk);
}

.bar-segment:hover {
    box-shadow: 0 5px 11px var(--color--track-shadow);
    z-index: 10;
}
.month-label {
    font-size: 0.75em;
    opacity: 0.75;
    top: calc(100% + 0.5em);
    position: absolute;
}
.bar-label {
    position: relative;
    color: var(--color--workout-walk);
    font-size: 0.8em;
    /* transform: rotate(-90deg); */
    margin-bottom: 0.5em;
}
.chart-bar-wrapper:hover .bar-label {
    display: block;
}
.chart-container {
    display: flex;
    position: relative;
    height: 120px;
    margin: 2em 0 1.5em;
}
.y-axis {
    position: relative;
    height: 100%;
    width: 1.125em;
}
.y-axis-label {
    position: absolute;
    right: 5px;
    transform: translateY(50%);
    font-size: 0.75em;
    color: #6c757d;
}
.y-axis-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.y-axis-grid-line {
    position: absolute;
    width: calc(100% - 1.125em);
    border-top: 1px solid var(--color--track-border);
    right: 0;
}
.monthly-chart-wrapper {
    width: calc(100% - 1.125em);
}

/* ========================================
 * mobile
 * ======================================== */

@media screen and (max-width: 425px) {
    #stats-container .annual-stats .stat-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }
}
