#calendar-container {
    width: calc(100% - 4em);
    margin: 10em auto;
    margin-top: calc(var(--margin--table-top) * -1);
}

#calendar-container .months-grid {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
}

#calendar-container h2,
#calendar-container #calendar-grid .year-stats ,
#calendar-container .filters,
/* #calendar-container .year-container, */
#calendar-container .month-table-container {
    max-width: var(--width--track-width);
    width: calc(100% - 4em);
    margin: 1em auto;
}
#calendar-container .month-table-container {
    margin: 0;
}
#calendar-year-filter-container {
    margin: 0;
    line-height: 2;
}
#calendar-grid {
    /* background-color: var(--color--track); */
}

#calendar-grid table {
    width: 100%;
    border-radius: 1.5em;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
    table-layout: fixed;
    background-color: var(--color--track);
}

#calendar-grid thead,
#calendar-grid .month-stats-row {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--color--track);
}
#calendar-grid .month-stats-row {
    top: 44.59px;
}

#calendar-grid th,
#calendar-grid td {
    padding: 0;
    vertical-align: top;
    width: 100%;
}

#calendar-grid tr {
    position: relative;
}

#calendar-grid tr:after {
    border-bottom: 1px solid var(--color--track-border);
}
#calendar-grid tbody tr:last-of-type:after {
    border-bottom: none;
}
#calendar-grid tr:after {
    width: calc(100% - 3em);
    content: "";
    position: absolute;
    left: 1.5em;
    bottom: 0;
}

#calendar-grid th {
    font-size: 0.8em;
    padding: 1em 1.5em;
    height: auto;
    text-align: center;
    font-weight: normal;
}
#calendar-grid th:first-of-type {
    width: 10em;
    font-size: 1.25em;
    text-align: left;
    border-radius: 1.5em 0 0 0;
}
#calendar-grid th:last-of-type {
    border-radius: 0 1.5em 0 0;
}

#calendar-grid .week-summary {
    font-size: 1.2em;
    width: 15em;
    padding: 1em 0 1em 1.5em;
    vertical-align: middle;
}

#calendar-grid .week-info {
    margin-bottom: 5px;
}
#calendar-grid .week-stats .week-distance,
#calendar-grid .week-stats .week-elevation {
    width: 45%;
    display: inline-block;
}
#calendar-grid .week-stats .week-distance:before,
#calendar-grid .week-stats .week-elevation:before {
    font-size: 0.6em;
    opacity: 0.7;
    display: block;
    margin-top: 2em;
}
#calendar-grid .week-stats .week-distance:before {
    content: "러닝 거리";
}
#calendar-grid .week-stats .week-elevation:before {
    content: "트레일 상승고도";
}
td {
    transition: 0.05s;
    position: relative;
}
#calendar-grid .week-summary.on,
td.on {
    background-color: var(--color--track-hover);
}

.day-cell {
    position: relative;
    height: 7em; /* Set a fixed height */
}
.day-cell.hidden {
    visibility: hidden;
}

.day-cell .date-display {
    position: absolute;
    left: calc(1em / 0.8);
    top: 1em;
    font-size: 0.8em;
    opacity: 0.7;
}

#calendar-grid .activity-circle {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#calendar-grid .activity-circle circle {
    transform-origin: 50% 50%;
    transform: scale(var(--gg, 0));
    fill: rgb(0, 178, 100);
}
#calendar-grid .day-cell:has(.official-race-icon) .activity-circle circle {
    fill: gold;
}

.activity-stats {
    bottom: 1em;
    left: 1em;
    position: absolute;
    opacity: 0.7;
}
.activity-stats .distance,
.activity-stats .elevation {
    display: inline-block;
    margin-right: 0.5em;
}

.activity-icons {
    opacity: 0.7;
    position: absolute;
    display: flex;
    gap: 4px;

    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    left: 1em;
    bottom: 2.5em;
}
.activity-icons .material-symbols-outlined {
}
.activity-icons:has(.rest) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color--track-dark);
    color: var(--color--track-border);
}

.official-race-icon {
    color: gold !important;
}

#calendar-grid .empty {
    background-color: #fafafa;
}

.empty-week {
    display: none;
}

#calendar-load-more-container {
    text-align: center;
    margin-top: 1em;
}

#load-more-calendar {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}

#load-more-calendar:hover {
    background-color: #45a049;
}

#calendar-grid .year-stats,
#calendar-grid .month-stats-row td {
    font-size: 1em;
    padding: 0 0 1em 1.5em;
    text-align: left;
    z-index: 2;
}

.year-stats .stat-item,
.month-stats-row .stat-item {
    width: 10em;
    display: inline-block;
}
.year-stats .stat-item:first-of-type,
.month-stats-row .stat-item:first-of-type {
    margin-right: 6em;
}
.year-stats .label,
.month-stats-row .label {
    font-size: 0.8em;
}

.year-stats .value,
.month-stats-row .value {
    font-size: 1.2em;
}

.month-stats .stat-item:first-child .label {
    font-size: 1.2em;
    font-weight: bold;
}

/* compact */
#calendar-grid.compact {
    width: calc(var(--width--table-width) - 2em);
    margin-left: calc((100vw - var(--width--table-width)) / 2);
    margin-right: calc((100vw - var(--width--table-width)) / 2);
    padding: 0;
}
#calendar-grid.compact .activity-icons,
#calendar-grid.compact .activity-stats,
.month-stats-row .stat-item:nth-of-type(2),
.month-stats-row .stat-item:nth-of-type(4),
#calendar-grid.compact tr:not(.year-stats) th:nth-of-type(1),
#calendar-grid.compact tr:not(.month-stats-row) td:nth-of-type(1) {
    display: none;
}

#calendar-grid.compact .day-cell .date-display {
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
#calendar-grid.compact .day-cell:has(.activity-circle) .date-display {
    color: var(--color--body-background);
    font-weight: bold;
}
#calendar-grid.compact th:nth-of-type(2) {
    border-radius: 1.5em 0 0 0;
}
#calendar-grid.compact .months-grid {
    justify-content: space-around;
}
#calendar-grid.compact .month-table-container {
    width: 750px;
}
#calendar-grid.compact .day-cell {
    height: 4em;
}
#calendar-grid.compact .year-stats .stat-item,
.month-stats-row .stat-item {
    width: 8em;
}
@media screen and (max-width: calc(1440px + 4em)) {
    #calendar-container {
        margin-top: calc(-100vw + var(--margin--table-top) + 34em);
    }
}

@media screen and (min-width: 1440px) {
    /* Adjustments for larger screens if needed */
}

/* mobile */
@media screen and (max-width: 600px) {
    #calendar-container {
        width: calc(100% - 2em);
        margin-top: 5em;
        height: inherit;
        position: inherit;
    }

    #calendar-grid.compact,
    .calendar-grid {
        width: 100%;
        margin: auto;
        /* font-size: 0.7em; */
    }

    .day-cell {
        height: 4em;
    }
    .day-cell .date-display {
        /* display: none; */
        left: 50%;
        top: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
    }
    .day-cell:has(.activity-circle) .date-display {
        color: var(--color--body-background);
    }
    /* .month-table-container:hover .day-cell.on .date-display {
        display: block;
    } */
    #calendar-grid .activity-circle {
        width: 2.5em;
        height: 2.5em;
    }
    #calendar-grid th {
        padding: 1em 0;
    }
    #calendar-grid th:nth-of-type(2) {
        border-radius: 1.5em 0 0 0;
    }
    .shadow-bottom:before,
    #calendar-grid tr:not(.year-stats) th:nth-of-type(1),
    #calendar-grid tr:not(.month-stats-row) td:nth-of-type(1),
    .month-stats-row .stat-item:nth-of-type(2),
    .month-stats-row .stat-item:nth-of-type(4),
    .activity-icons,
    .activity-stats {
        display: none;
    }
    .year-stats .stat-item,
    .month-stats-row .stat-item:nth-of-type(1) {
        width: 100%;
    }
    .year-stats .stat-item,
    .month-stats-row .stat-item {
        width: fit-content;
        margin-right: 1em;
    }
    #calendar-container h2,
    #calendar-container #calendar-grid .year-stats,
    #calendar-container .filters,
    #calendar-container .month-table-container {
        width: 100%;
    }
    #calendar-container .months-grid {
        gap: 1em;
    }
}
