/* ----------------------------------------
 * tooltip
 * ---------------------------------------- */

#tooltip {
    --width--tooltip: 400px;
    --width--tooltip-padding: 1.5em;
    --width--tooltip-svg: 0;

    display: flex;
    flex-direction: column;

    width: var(--width--tooltip);
    max-width: calc(100% - var(--width--tooltip-padding) * 2);
    position: fixed;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    background: var(--color--track-dark);
    box-shadow: 0 5px 11px var(--color--track-shadow);
    padding: var(--width--tooltip-padding);
    border-radius: var(--width--tooltip-padding);
    color: var(--color--body-text);
    transform: translate(-50%, calc(-100% - 2em));
    transition: opacity 0.25s;
}

#tooltip.on {
    opacity: 1;
}

#tooltip .tooltip-item {
    position: relative;
}

#tooltip .tooltip-item:not(:first-of-type) {
    border-top: 1px solid var(--color--track-border);
    padding-top: 1em;
    margin-top: 1.5em;
}

#tooltip .title-container {
    padding: 0 0 0.5em 0.5em;
}

#tooltip .type {
    font-size: 0.85em;
}

#tooltip .title {
    width: calc(var(--width--tooltip) - var(--width--tooltip-svg));
    font-size: 1.25em;
    font-weight: bold;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
}

#tooltip .title .comment {
    font-size: 0.7em;
    opacity: 0.7;
    font-style: italic;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 .125em .125em .5em;
}

#tooltip .title .official {
    background-color: var(--color--gold);
    color: var(--color--gold-dark);
    border-radius: 50%;
    font-size: 0.9em;
    padding: 0.25em;
    font-variation-settings: "FILL" 1;
    margin-left: .25em;
}

#tooltip .date {
    position: absolute;
    /* right: calc(var(--width--tooltip-svg) + var(--width--tooltip-padding) * 2); */
    right: 0.5em;
    color: #777;
    font-size: 0.85em;
    line-height: 2;
}

#tooltip .data {
    width: calc(var(--width--tooltip) - var(--width--tooltip-svg) - var(--width--tooltip-padding) * 2);
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    background-color: var(--color--track);
    padding: 1em;
    border-radius: 2em;
}
#tooltip .data span.div {
    border-right: 1px solid var(--color--track-border);
}

#tooltip svg {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: calc(100% + 3em);
    stroke-linejoin: round;
}

#tooltip .official svg,
#tooltip.official svg {
    --color--gpx-start: var(--color--gold);
    --color--gpx-end: var(--color--gold-dark);
}

#tooltip .official .type {
    color: var(--color--gold-metalic);
}

.icon.distance {
    color: #f44336;
}

.icon.record {
    color: #009688;
}

.icon.pace {
    color: #3f51b5;
}

#tooltip .official .icon {
    color: var(--color--gold-metalic);
}

.material-symbols,
.material-symbols-outlined {
    vertical-align: text-bottom;
}

.material-symbols {
    font-variation-settings: "FILL" 1;
}

#tooltip:has(.tooltip-comment) {
    width: fit-content;
}

#tooltip .tooltip-comment {
    line-height: 0;
    white-space: nowrap;
}

#tooltip .tooltip-comment .material-symbols-outlined {
    line-height: 0;
    vertical-align: bottom;
}

#tooltip svg .svg-info {
    width: 20px;
    height: 20px;
    x: 250px;
    y: 65px;
}

#tooltip:has(.tooltip-null) {
    background: none;
    box-shadow: none;
}

#tooltip svg.svg-records .svg-info {
    x: 140px;
}

#tooltip svg.svg-records {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
}
#tooltip:has(.tooltip-null) svg.svg-records {
    transform: translate(-50%, -50%);
}

/* fixed edge */
#tooltip.fixedTop {
    /* position: fixed; */
    /* background-color: gold; */
    top: 1em;
    transform: translate(-50%, 0);
}

/* ========================================
 * tablet
 * ======================================== */

@media screen and (max-width: 768px) {
    /* ----------------------------------------
    * tooltip
    * ---------------------------------------- */
    #tooltip:not(:has(.tooltip-comment)) {
        left: 50% !important;
        top: inherit !important;
        bottom: 0;
        position: fixed;
        border-radius: 1.5em 1.5em 0 0;
        /* box-shadow: 0 -5px 12px var(--color--track-shadow); */
        transform: translate(-50%, 0%);
    }

    #tooltip svg {
        right: 0;
    }

    #tooltip.generic {
        top: inherit!important;
        bottom: 3em;
        left: 50%!important;
        transform: translateX(-50%);
    }
    #tooltip.stats .tooltip-item:not(:nth-child(1)) {
        /* display: none; */
    }
}

/* ========================================
 * mobile
 * ======================================== */

@media screen and (max-width: 425px) {
    #tooltip:not(:has(.tooltip-comment)) {
        --width--tooltip-padding: 1em;
        padding: 1em;
        border-radius: 0;
        box-shadow: 0 -5px 12px var(--color--track-shadow);
    }

    #tooltip .date {
        right: 0;
    }

    #tooltip .data {
        width: calc(100% - 2em);
        display: flex;
        justify-content: space-evenly;
    }
}
