:root {
    --color-50: #ffebee;
    --color-100: #ffcdd2;
    --color-200: #e57373;
    --color-300: #e57373;
    --color-400: #ef5350;
    --color-500: #f44336;
    --color-600: #e53935;
    --color-700: #d32f2f;
    --color-800: #c62828;
    --color-900: #b71c1c;
    --color-a100: #ff8a80;
    --color-a200: #ff5252;
    --color-a400: #ff1744;
    --color-a700: #d50000;
}

#블랙야크_canvas {
    position: relative;
    /* border: 1px solid black; */
    width: calc(100% - 2em);
    max-width: 600px;
    max-height: 600px;
    background-image: url("../../img/지도/kr.svg");
    background-size: 124%;
    background-position: 35% 15%;
}

.point {
    width: 8px;
    height: 8px;
    background-color: var(--color-50);
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--color-500);
    /* transition: .125s; */
}

.point.done {
    /* background-color: var(--color-a400); */
}

.point.done.c1:hover:before,
.point.done.c1 {
    background-color: var(--color-a700);
}

.point.done.c2:hover:before,
.point.done.c2 {
    background-color: var(--color-a400);
}

.point.done.c3:hover:before,
.point.done.c3 {
    background-color: var(--color-a200);
}

.point.done.c4:hover:before,
.point.done.c4 {
    background-color: var(--color-a100); 
}

.point:hover,
.point.done:hover {
    z-index: 6;
    width: 24px;
    height: 24px;
    margin: calc(-24px / 2 + 8px / 2) 0 0 calc(-24px / 2 + 8px / 2);
    border: none;
    background-color: transparent;
    /* outline: 2px solid var(--color-500); */
}
.point:hover:before,
.point.done:hover:before,
.point:hover:after,
.point.done:hover:after {
    position: absolute;
    width:100%;
    content: "";
    display: block;
    aspect-ratio: 1;
    background-color: inherit;
    animation: rotate 3s linear infinite;
}
.point:hover:before,
.point.done:hover:before {
    background-color: var(--color-50);
    clip-path: polygon(
        100% 50%,
        74.27% 67.63%,
        65.45% 97.55%,
        40.73% 78.53%,
        9.55% 79.39%,
        20% 50%,
        9.55% 20.61%,
        40.73% 21.47%,
        65.45% 2.45%,
        74.27% 32.37%
    );
}
.point:hover:after,
.point.done:hover:after {
    background-color: var(--color-500);
    clip-path: polygon(
        100% 50%,
        74.27% 67.63%,
        65.45% 97.55%,
        40.73% 78.53%,
        9.55% 79.39%,
        20% 50%,
        9.55% 20.61%,
        40.73% 21.47%,
        65.45% 2.45%,
        74.27% 32.37%,
        100% 50%,
        74.27% 67.63%,
        calc(74.27% - 0.49px) calc(67.63% - 0.35px),
        calc(100% - 1px) calc(50% - 0px),
        calc(74.27% - 0.49px) calc(32.37% - -0.35px),
        calc(65.45% - 0.31px) calc(2.45% - -0.95px),
        calc(40.73% - -0.19px) calc(21.47% - -0.57px),
        calc(9.55% - -0.81px) calc(20.61% - -0.59px),
        calc(20% - -0.6px) calc(50% - 0px),
        calc(9.55% - -0.81px) calc(79.39% - 0.59px),
        calc(40.73% - -0.19px) calc(78.53% - 0.57px),
        calc(65.45% - 0.31px) calc(97.55% - 0.95px),
        calc(74.27% - 0.49px) calc(67.63% - 0.35px),
        calc(100% - 1px) calc(50% - 0px)
    );
}
@keyframes rotate {
    from {
      transform: rotate(0deg); /* Start at 0 degrees */
    }
    to {
      transform: rotate(360deg); /* Rotate to 360 degrees (one full turn) */
    }
  }
body#블랙야크 {
    margin: 0em;
}
body#블랙야크 p {
    margin: 1em;
}
body#블랙야크 #tooltip {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: fit-content;
    margin: 1em;
    border: 1px solid #eee;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

body#블랙야크 #tooltip img {
    max-width: 100%;
    height: 100%;
    margin-top: 0.5em;
}
body#블랙야크 #블랙야크_canvas {
    /* width: 100%; */
    margin: 0 1em;
}

#tooltip:not(body#블랙야크 #tooltip) img.블랙야크_img {
    margin-bottom: 0.5em;
}
