@import url("https://fonts.googleapis.com/css2?family=Offside&family=Stardos+Stencil:wght@400;700&display=swap");

::selection {
    background-color: rgba(0, 0, 0, 0);
}

body {
    --color-track: #af483f;
    --color-track-dark: #8a3a32;

    font-family: sans-serif;
    background-color: #51695d;
    color: #333;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.racetrack {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.track-lane {
    width: 20%;
    max-width: 100px;
    min-height: 100vh;
    background: var(--color-track);
    padding: 15px;
    white-space: nowrap;
    border-right: 5px solid #eee;
    border-top: 10px solid #eee;
    color: #ccc;
}
.track-lane:first-of-type {
    border-left: 10px solid #eee;
}
.track-lane:last-of-type {
    border-right: 10px solid #eee;
}

.year-label {
    margin: 1em 0 0.5em 0;
}
.track-lane:not(:first-of-type) .year-label {
    visibility: hidden;
}

h2 {
    text-align: center;
    color: #eee;
    border-bottom: 2px solid #eee;
    padding-bottom: .5em;
    margin-bottom: 20px;
}

.best-record-container {
    color: #eee;
    position: relative;
    margin: 3.5em auto 15em;
    transform: rotate(90deg);
}
.best-record-container:has(.official):has(.unofficial) {
    margin-top: 2.75em;
}

.best-record {
    white-space: nowrap;
    margin: 0;
}

.best-record.official {
}

.best-record.unofficial {
}

.best-record.official:before {
    content: "★ ";
    color: gold;
}

.best-record.unofficial:before {
    content: "★ ";
    color: silver;
}

.track {
    position: relative;
    margin-top: 20px;
}

.marker-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    justify-items: center;
}
.marker-grid:hover .marker {
    background-color: var(--color-track-dark);
    border-color: var(--color-track-dark);
    border-radius: 3px;
}

.marker {
    width: calc(100% - 6px);
    padding-bottom: calc(100% - 6px);
    /* background-color: #8a3a32; */
    border-radius: 6px;
    cursor: default;
    transition: 0.25s;
    border: 3px solid var(--color-track);
    height: 0;
    font-size: 10px;
    text-align: center;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0);
}
.marker:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 12px rgba(0 0 0 / 0.25);
    background-color: #bf584e;
    border-color: #bf584e;
    color: rgba(0, 0, 0, 0.5);
}
.marker.has-record {
    cursor: pointer;
}

.marker-grid:hover .marker.official {
    border-color: gold;
    box-shadow: 0 0 5px 2px gold;
}

.marker-grid:hover .marker.unofficial {
    /* border-color: silver; */
    /* box-shadow: 0 0 10px silver; */
}
